In [2]:
import pandas as pd

In [24]:
music = pd.read_csv('/home/jovyan/MonDossier/data/my_file (1).csv',index_col = 0)
music

,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
Rank,,,,,,,,,,
1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [25]:
music["Peak"]=music["Peak"].astype(str)

In [54]:
#regex = true

In [26]:
music["Peak"]=music["Peak"].replace('\[', '', regex=True)
music["Peak"]=music["Peak"].replace('\]', '', regex=True)

In [27]:
music["All Time Peak"]=music["All Time Peak"].replace('\[', '', regex=True)
music["All Time Peak"]=music["All Time Peak"].replace('\]', '', regex=True)

In [28]:
s = "The 1989 World Tour   Sticky & Sweet Tour ‡[4][a] "
import re 
pattern =  r"([A-Za-z0-9\s]+\&*[A-Za-z0-9\s]+)"
match = re.search(pattern,s)

    
print(match.group(0))
print(match.group(1))

The 1989 World Tour   Sticky & Sweet Tour
The 1989 World Tour   Sticky & Sweet Tour

In [29]:
music["Tour title"] = music["Tour title"].str.extract(r'([A-Za-z0-9\s]+\&*[A-Za-z0-9\s]+)', expand=False)

In [30]:
music["Ref."]=music["Ref."].replace('\[', '', regex=True)
music["Ref."]=music["Ref."].replace('\]', '', regex=True)

In [31]:
music.columns=['Peak', 'All Time Peak', "Actual gross",
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.']

In [32]:
music["Actual gross"]=music["Actual gross"].replace('\[', '', regex=True)
music["Actual gross"]=music["Actual gross"].replace('\]', '', regex=True)

In [33]:
l = "$229,100,000b "
import re 
pattern =  r"(\$\w+.*\d)"
match = re.search(pattern,l)

    
print(match.group(0))

$229,100,000

In [34]:
music["Actual gross"]= music["Actual gross"].str.extract(r"(\$\w+.*\d)", expand=False)

In [35]:
music

,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
Rank,,,,,,,,,,
1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",1
2,1,72,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",3
3,14,25,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",6
4,27,107,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",7
5,24,NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",8
6,24,109,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",9
7,210,NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",11
7,nan,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival,2023–2024,41,"$6,282,927",12
9,nan,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",13
10,nan,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",14
11,nan,NaN,"$229,100,000","$283,202,896",Beyoncé,The Mrs,2013–2014,132,"$1,735,606",1516
12,nan,1417,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",18
13,nan,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",19
14,120,NaN,"$200,000,000","$299,676,265",Cher,Living Proof,2002–2005,325,"$615,385",20
15,2c,NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",5
16,nan,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",22
17,nan,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",d
18,nan,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",4
19,nan,NaN,"$167,700,000","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",25
20,nan,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",26

In [37]:
music["Peak"]

Rank
1       1
2       1
3      14
4      27
5      24
6      24
7     210
7     nan
9     nan
10    nan
11    nan
12    nan
13    nan
14    120
15     2c
16    nan
17    nan
18    nan
19    nan
20    nan
Name: Peak, dtype: object

In [43]:
music.at[15, 'Peak'] = 2

In [45]:
music["Peak"]

Rank
1       1
2       1
3      14
4      27
5      24
6      24
7     210
7     nan
9     nan
10    nan
11    nan
12    nan
13    nan
14    120
15      2
16    nan
17    nan
18    nan
19    nan
20    nan
Name: Peak, dtype: object